.f-name {
  margin-left: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
}
.users-name {
  display: flex;
  align-items: center;
  height: 100%;
}
