.text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: rgb(12, 17, 122);
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

